main {
  max-width: 80vw;
  margin: auto;
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
}

img {
  max-width: 50vw;
  object-fit: cover;
  border-radius: 2rem;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-top: 5px;
}

.top {
  justify-content: flex-end;
}